body {
	background-image: url('/images/hallway-2-opac.png');
}

.label {
	color: white;
	font-size: 1.2em;
}

#RealTextbox {
	position: relative;
	left: -5000px;
}

#console_outer {

	height: 340px;
	max-width: 640px;
	padding: 20px;
	background-image: url("/images/light-stone-background.jpeg"); 
	background-repeat: repeat;
	border: outset 3px;
	border-radius: 4px;
}

#text_wrapper {
	height: 300px;
	max-width: 600px;
	background-color: #000;
	border: inset 3px;
	border-radius: 4px;
}

#textBox {
	height: 250px;
	font-family: monaco sans-serif;
	color: white;
	min-width: 300px;
	max-width: 500px;
	margin: 25px auto;
	background-color: #000;
	overflow: auto;
	position: relative;
}

#location {
	margin-bottom: 10px;


}
	
#item_label {
	margin-top: 10px;
	padding-top: 5px;
}

#items {

	background-color: white;
	padding-top: 3px;
	height: 35px;
	margin: 0px 1px 0px 3px;
	border: ridge;
	max-width: 640px;

}

#current_location {
	border: ridge;
	width:70%;
}


.ui-widget-header {
	background: #00FF00;
	border: 1px solid #DDDDDD;
	color: #333333;
	font-weight: bold;
}

.btn {
	margin: 20px 10px 10px 575px;
}



