#RealTextbox {
	position: relative;
	left: -5000px;
}

#console_outer {
	margin-top: 15%;
	height: 340px;
	max-width: 640px;
	padding: 20px;
	background-image: url("/images/rock-background.jpg"); 
	background-repeat: repeat;
	border: outset 3px;
	border-radius: 4px;
}

#text_wrapper {
	height: 300px;
	max-width: 600px;
	background-color: #4D4D4D;
	border: inset 3px;
	border-radius: 4px;
}

#textBox {
	height: 250px;
	font-family: monaco sans-serif;
	color: white;
	min-width: 300px;
	max-width: 500px;
	margin: 25px auto;
	background-color: #4D4D4D;
	overflow: auto;
	position: relative;
}

/*#items {
	position: relative;
	top: 100px;
	margin-left: 300px;
	margin: auto;
}

#health {
	position: relative;
	top: 200px;
	left: 100px;
	/*margin: auto;*/





main {
	/*position: relative;*/
	/*top: 200px; */
}



