
body {

	background-color: gray;


}
#RealTextbox {
	position: relative;
	left: -5000px;
}
#textBox {
		width: 40%;
		color: white;
		position: relative;
		margin: 25px auto;
		background: #4D4D4D;
	}

#console {
	overflow: auto;
}